## Biblioteca

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

from selenium import webdriver
import time

In [2]:
#Used headers/agent because the request was timed out and asking for an agent (simulate web browser)
#Using following code we can fake the agent.
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.114 Safari/537.36'}
response = requests.get("https://coinmarketcap.com/",headers=headers)

In [3]:
# start web browser, depends on which browser you want to use
browser = webdriver.Firefox()

# get source code
browser.get("https://coinmarketcap.com/")

# we need to scroll down slowly so you can get all data you want
last_height = browser.execute_script("return document.body.scrollHeight")
scroll_number = int(last_height/800)
for i in range(1, scroll_number):
    browser.execute_script(f"window.scrollTo({i}, {i*800})")
    time.sleep(2)
    
html = browser.page_source
soup = BeautifulSoup(html, "html.parser")

# close web browser
browser.close()

In [4]:
# content = response.content
# soup = BeautifulSoup(content,"html.parser")

In [5]:
# text_file = open("Output.txt", "w")
# text_file.write(str(soup))
# text_file.close()

In [6]:
top_crypto = soup.find("table", attrs = {"class": "h7vnx2-2 czTsgW cmc-table"})
list_tr = top_crypto.find_all("tbody")
list_tr = list_tr[0].find_all("tr")

In [7]:
list_rest =[]
# i = 0
for tr in list_tr:
    dataframe ={}
    dataframe["crypto"] = tr.find("div", attrs = {"class": "sc-16r8icm-0 sc-1teo54s-1 dNOTPP"}).find("p").text
    dataframe["Price"] = tr.find("div", attrs = {"class" : "sc-131di3y-0 cLgOOr"}).span.text
#     dataframe["24%"] = tr.find("span", attrs = {"class" : "sc-15yy2pl-0 hzgCfk"}).text
#     print(i)
    list_rest.append(dataframe)
#     i +=1

In [8]:
pd.DataFrame(list_rest)

          crypto       Price
0        Bitcoin  $41,659.63
1       Ethereum   $3,170.78
2         Tether          $1
3   Binance Coin     $449.63
4         Solana     $143.54
..           ...         ...
95        Bancor       $3.10
96          BORA     $0.9518
97         Velas     $0.3598
98        Decred      $58.95
99       Celsius       $3.36

[100 rows x 2 columns]